<header class="h-20">
  <nav class="h-full container mx-auto flex justify-between items-center">
    <div class="flex items-center">
      <a [routerLink]="['/']" class="text-white text-3xl font-semibold">Movie Browser</a>
      <div class="ml-16 flex items-center gap-x-8">
        <a class="font-semibold text-white text-lg" [routerLink]="['movies/popular']" routerLinkActive="selected">
          <span>Popular</span>
        </a>
        <a class="font-semibold text-white text-lg" [routerLink]="['movies/top-rated']" routerLinkActive="selected">
          <span>Top Rated</span>
        </a>
        <a class="font-semibold text-white text-lg" [routerLink]="['movies/now-playing']" routerLinkActive="selected">
          <span>Now Playing</span>
        </a>
        <a class="font-semibold text-white text-lg" [routerLink]="['movies/upcoming']" routerLinkActive="selected">
          <span>Upcoming</span>
        </a>
      </div>
    </div>
    @if (auth.isLoggedIn$ | async; ) {
      <button (click)="logout()">Logout</button>
    } @else {
      <div class="flex items-center gap-x-8">
        <a [routerLink]="['/login']" class="rounded-lg border border-solid border-white px-4 py-2 text-white font-semibold">
          Log In
        </a>
        <a [routerLink]="['/register']" class="rounded-lg border border-solid border-white px-4 py-2 text-white font-semibold">
          Sign Up
        </a>
      </div>
    }
  </nav>
</header>
