:host {
  @apply sticky top-0 z-30 ;
}

.nav-link {
  @apply font-medium text-white rounded-lg px-3 py-1 transition-basic;
}
.nav-link:hover {
  @apply bg-secondary text-primary;
}
.nav-link.selected {
  @apply bg-secondary text-primary;
}

.profile-link {
  @apply block px-4 py-2 cursor-pointer transition-basic;
}

.side-menu{
  @apply fixed z-30 top-16 sm:top-20 bg-secondary bg-opacity-30 h-full left-[-100%] w-[300px];
  transition: left .2s ease 0s;
}

.side-menu.is-open{
  @apply left-0;
}

.side-menu-link {
  @apply text-white border-b border-solid border-white px-4 py-3 lg:px-8 sm:py-4  font-semibold border-opacity-30 bg-white bg-opacity-0 hover:bg-opacity-10;
}

.side-menu-link-auth {
  @apply sm:hidden border-b border-solid border-white px-4 py-3 lg:px-8 sm:py-4  font-semibold border-opacity-30 text-primary bg-secondary hover:bg-opacity-60;
}

.side-menu-logout {
  @apply sm:hidden text-white border-b border-solid border-white px-4 py-3 lg:px-8 font-semibold border-opacity-30 text-[#ff9c9c] cursor-pointer hover:bg-red-600 hover:bg-opacity-20;
}

.live-result {
  @apply px-3 py-2 flex items-center gap-3 cursor-pointer hover:bg-primary hover:bg-opacity-85 hover:text-white w-full transition-all;
}

.live-result-title {
  @apply text-sm font-montserrat font-medium text-gray-900 transition-all;
}

.live-result-subtitle {
  @apply text-xs text-gray-900 !text-opacity-50 transition-all;
}

.live-result:hover {
  .live-result-title {
    @apply !text-white
  }
  .live-result-subtitle {
    @apply !text-white !text-opacity-60;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-sidebar::-webkit-scrollbar-thumb {
  background-color: rgb(99 99 99 / var(--tw-bg-opacity, 1));
  --tw-bg-opacity: 1;
  border-radius: 9999px;
}