.nav-link {
  @apply font-medium text-white rounded-lg px-3 py-1 transition-basic;
}
.nav-link:hover {
  @apply bg-secondary text-primary;
}
.nav-link.selected {
  @apply bg-secondary text-primary;
}

.profile-link {
  @apply block px-4 py-2 cursor-pointer transition-basic;
}

:host {
  @apply sticky top-0 z-30 ;
}