.nav-link {
  @apply font-medium text-white rounded-lg px-3 py-1;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav-link:hover {
  @apply bg-secondary text-primary;
}
.nav-link.selected {
  @apply bg-secondary text-primary;
}

.profile-link {
  @apply block px-4 py-2 hover:bg-gray-100 cursor-pointer;
}

:host {
  @apply sticky top-0 z-30 ;
}