<header class="h-20 shadow-lg bg-primary">
  <nav class="h-full container mx-auto flex justify-between items-center">
    <div class="flex items-center">
      <a [routerLink]="['/']" class="text-white text-3xl font-semibold">Movie Browser</a>
      <div class="ml-8 flex items-center gap-x-4">
        <a class="nav-link" [routerLink]="['movies/popular']" routerLinkActive="selected">
          <span>Popular</span>
        </a>
        <a class="nav-link" [routerLink]="['movies/top-rated']" routerLinkActive="selected">
          <span>Top Rated</span>
        </a>
        <a class="nav-link" [routerLink]="['movies/now-playing']" routerLinkActive="selected">
          <span>Now Playing</span>
        </a>
        <a class="nav-link" [routerLink]="['movies/upcoming']" routerLinkActive="selected">
          <span>Upcoming</span>
        </a>
      </div>
    </div>
    <div class="flex items-center gap-x-8">
      <form (ngSubmit)="onSearch()" class="w-[350px] flex items-center">
        <input
          type="text"
          [(ngModel)]="searchQuery"
          name="search"
          placeholder="Search movies..."
          class="placeholder:italic px-3 py-2 h-10 rounded-l-xl focus:outline-none text-primary flex-1"
        />
        <button type="submit" class="bg-secondary text-primary flex items-center w-10 h-10 justify-center rounded-r-xl">
          <i class="pi pi-search"></i>
        </button>
      </form>
    @if (auth.isLoggedIn$ | async; ) {
      <div class="relative" #dropdownWrapper>
        <button (click)="toggleDropdown($event)" class="bg-secondary text-primary  font-medium rounded-full w-10 h-10 flex items-center justify-center">{{initial()}}</button>
        @if (headerService.dropdownOpen()) {
          <div
            class="absolute right-0 mt-2 w-48 bg-white rounded-xl shadow-lg z-50"
          >
            <ul class="text-sm text-gray-700">
              <li>
                <a [routerLink]="['/favorites']" class="rounded-t-xl  profile-link">
                  Favorites
                </a>
              </li>
              <li>
                <a class="rounded-b-xl block px-4 py-2 text-red-600 hover:bg-red-100 cursor-pointer" (click)="logout()">
                  Log Out
                </a>
              </li>
            </ul>
          </div>
        }
      </div>
    } @else {
      <a [routerLink]="['/login']" class="shadow-lg rounded-lg bg-white px-4 py-2 text-primary font-semibold">
        Log In
      </a>
      <a [routerLink]="['/register']" class="shadow-lg rounded-lg bg-secondary text-primary px-4 py-2 text-white font-semibold">
        Sign Up
      </a>
    }
    </div>
  </nav>
</header>
