.nav-link {
  @apply font-medium text-white rounded-lg px-3 py-1 transition-basic;
}
.nav-link:hover {
  @apply bg-secondary text-primary;
}
.nav-link.selected {
  @apply bg-secondary text-primary;
}

.profile-link {
  @apply block px-4 py-2 cursor-pointer transition-basic;
}

.side-menu{
  @apply fixed z-30 top-20 bg-secondary bg-opacity-30 h-full left-[-100%] w-[300px];
  transition: left .2s ease 0s;
}

.side-menu.is-open{
  @apply left-0;
}

.side-menu-link {
  @apply text-white border-b border-solid border-white p-4 lg:px-8 font-semibold border-opacity-30 hover:bg-white hover:bg-opacity-10;
}

.side-menu-logout {
  @apply text-white border-b border-solid border-white p-4 lg:px-8 font-semibold border-opacity-30 text-[#ff9c9c] cursor-pointer hover:bg-red-600 hover:bg-opacity-20;
}

:host {
  @apply sticky top-0 z-30 ;
}