<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
  <h2>Log in</h2>

  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-2">
      <label class="form-label" for="username">Username*</label>
      <input class="form-input" id="username" type="username" [formControl]="form.controls.username" placeholder="Your username" />
    </div>

    <div class="flex flex-col gap-2">
      <label class="form-label" for="password">Password*</label>
      <input class="form-input" id="password" type="password" formControlName="password" placeholder="Password"
       />
    </div>
  </div>
  <button class="form-submit" [disabled]="form.invalid">Log In</button>
</form>
