:host ::ng-deep .p-paginator {
  @apply !bg-primary text-white rounded-lg;
}

:host ::ng-deep .p-paginator .p-paginator-prev,
:host ::ng-deep .p-paginator .p-paginator-next {
  @apply text-white;
}

:host ::ng-deep .p-paginator .p-paginator-next:hover {
  @apply text-primary;
}
:host ::ng-deep .p-paginator .p-paginator-prev:hover {
  @apply text-primary;
}

:host ::ng-deep .p-paginator-page.p-paginator-page-selected {
  @apply bg-secondary text-white;
}

:host ::ng-deep .p-paginator-page:not(.p-disabled):not(.p-paginator-page-selected):hover{
  @apply text-primary;
}

:host ::ng-deep .p-paginator-page{
  @apply text-white;
}

:host ::ng-deep .p-paginator .p-paginator-first {
  @apply text-white;
}
:host ::ng-deep .p-paginator .p-paginator-last {
  @apply text-white;
}

:host ::ng-deep .p-paginator .p-paginator-first:hover {
  @apply text-primary;
}
:host ::ng-deep .p-paginator .p-paginator-last:hover {
  @apply text-primary;
}

:host ::ng-deep .p-disabled {
  @apply !text-opacity-20;
}
