<app-movies-container [title]="movies()?.length !== 0
  ? (category() | titleize) + ' Movies'
  : 'No ' + (category() | titleize) + ' movies could be found'">

  @if (movies()?.length !== 0){
    @if (error()) {
      <p class="mt-4 fallback-text">{{ error() }}</p>
    }
    @if (movies()) {
    <app-movies [movies]="movies()!"/>

    <div class="mt-12 md:mt-16 flex justify-center">
      <p-paginator
        [rows]="20"
        [totalRecords]="cappedTotalRecords()"
        [first]="(currentPage() - 1) * 20"
        (onPageChange)="loadPageFromPaginator($event)">
      </p-paginator>
    </div>
    }
  }
</app-movies-container>
