.p-paginator {
  @apply !bg-primary !text-white;
}

.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next {
  @apply !text-white;
}

.p-paginator .p-paginator-next:hover {
  @apply !text-primary;
}
.p-paginator .p-paginator-prev:hover {
  @apply !text-primary;
}

.p-paginator-page {
  @apply text-sm sm:text-base !text-white;
}

.p-paginator-page.p-paginator-page-selected {
  @apply !bg-secondary !text-primary;
}

.p-paginator-page:not(.p-disabled):not(.p-paginator-page-selected):hover{
  @apply !text-primary;
}

.p-paginator .p-paginator-first {
  @apply hidden sm:block !text-white;
}
.p-paginator .p-paginator-last {
  @apply hidden sm:block !text-white;
}

.p-paginator .p-paginator-first:hover {
  @apply !text-primary;
}
.p-paginator .p-paginator-last:hover {
  @apply !text-primary;
}
