<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
  <div class="text-center mb-8">
    <h2>Create an account</h2>
    <p class="text-sm text-opacity-90 text-primary">Save favorite movies by signing up!</p>
  </div>

  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-2">
      <label class="form-label" for="username">Username*</label>
      <input class="form-input" id="username" type="username" [formControl]="form.controls.username" placeholder="Choose a username" />
    </div>

    <div class="flex flex-col gap-4" formGroupName="passwords">
      <div class="flex flex-col gap-2">
        <label class="form-label" for="password">Password*</label>
        <input class="form-input" id="password" type="password" name="password" formControlName="password" placeholder="Password"
        />
        <p class="italic text-sm text-medium text-opacity-70 text-primary">Must be at least 6 characters</p>
        @if(form.get('passwords.password')?.touched && form.get('passwords.password')?.hasError('minlength')) {
          <p class="control-error">Password must be at least 6 characters long</p>
        }
      </div>

      <div class="flex flex-col gap-2">
        <label class="form-label" for="confirm-password">Confirm Password*</label>
        <input class="form-input" id="confirm-password" type="password"  name="confirm-password" formControlName="confirmPassword" placeholder="Password again"
        />
        @if(form.get('passwords')?.touched && form.get('passwords')?.hasError('valuesNotEq')) {
          <p class="control-error">Passwords do not match</p>
        }
      </div>
    </div>
  </div>
  <button class="form-submit" [disabled]="form.invalid">Sign Up</button>
  <p class="text-sm text-primary text-opacity-90 mt-3 text-center">Already have an account?
    <a routerLink="/auth/login"><span class="font-semibold">Log in!</span></a>
  </p>
</form>
