<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
  <h2>Create an account</h2>

  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-2">
      <label class="form-label" for="username">Username*</label>
      <input class="form-input" id="username" type="username" [formControl]="form.controls.username" placeholder="Choose a username" />
    </div>

    <div class="flex flex-col gap-4" formGroupName="passwords">
      <div class="flex flex-col gap-2">
        <label class="form-label" for="password">Password*</label>
        <input class="form-input" id="password" type="password" name="password" formControlName="password" placeholder="Password"
        />
      </div>

      <div class="flex flex-col gap-2">
        <label class="form-label" for="confirm-password">Confirm Password*</label>
        <input class="form-input" id="confirm-password" type="password"  name="confirm-password" formControlName="confirmPassword" placeholder="Password again"
        />
      </div>
      @if(form.dirty && form.touched && form.invalid){
        <p class="control-error">Invalid form</p>
      }
    </div>
  </div>
  <button class="form-submit" [disabled]="form.invalid">Sign Up</button>

</form>
