<div class="mt-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-8">
  @for (movie of movies(); track movie.id) {
    <a [routerLink]="['/movie', movie.id]" class="text-white rounded-2xl">
      <div class="relative pb-[145%]">
        <img class="rounded-xl absolute w-full h-full object-cover" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" loading="lazy" />
      </div>
      <p class="text-xs font-bold mt-3">{{ movie.release_date | date:'mediumDate' }}</p>
      <h2 class="mt-1 font-medium font-montserrat text-lg">
        {{ movie.title }}
      </h2>
    </a>
  }
</div>
