@import './styles/forms.css';
@import './styles/pagination.css';
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: linear-gradient(180deg, #1f1c2c 0%, #1f1c2c 100%);
}

.control-error {
  @apply text-[#a80404];
}