@import './styles/forms.css';
@import './styles/pagination.css';
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: linear-gradient(180deg, #1f1c2c 0%, #1f1c2c 100%);
}

.control-error {
  @apply text-[#a80404];
}

.fallback-text {
  @apply text-white text-xl;
}

.favorite-btn {
  @apply flex-none text-sm font-semibold bg-secondary rounded-lg h-9 px-3 text-primary gap-2 flex items-center hover:bg-opacity-50 flex items-center justify-center transition-basic;
}