@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,700&family=Raleway:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(180deg, #1f1c2c 0%, #1f1c2c 100%);
}

.control-error {
  @apply text-[#a80404];
}